body {
    font-family: "Open Sans";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.95);
    background-color: #F9F9F9;
}

.navbar {
    padding: 0.2em 1rem;
}

.nav-link {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.95);
}

.section-container {
    background-image: url(/img/Page_title_flat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 90px;
}

.title {
    font-family: Kanit;
    font-size: 64px;
    margin: 108px 0;
}

.card-body {
    padding: 38px 40px;
}

.card-title {
    font-family: Kanit;
    font-size: 24px;
    margin-bottom: 28px;
}

.card-text-wrapper {
    margin-bottom: 27px;
}

.card-text-wrapper:last-child {
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px;
}

.card-text-adress {
    font-size: 14px;
    color: rgba(85, 85, 85, 1);
    margin-bottom: 30px;
}

.text-info {
    font-size: 14px;
}

.card-link-wrapper {
    position: relative;
    padding-top: 18px;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-link-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -22px;
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.06);
}

.card-link-wrapper:last-child::after {
    content: "";
    display: none;
}

.card-link {
    color: rgba(0, 0, 0, 0.95);
}

.section-cards {
    margin-bottom: 90px;
}

.footer {
    background: black;
    font-size: 14px;
    padding-top: 60px;
    padding-bottom: 70px;
}

.footer-title {
    font-family: Kanit;
    font-size: 36px;
    margin-bottom: 25px;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-mail {
    margin-bottom: 28px;
}

.footer-link-mail {
    line-height: 29px;
}

.footer-social {
    margin-bottom: 40px;
}

.footer-link-social {
    margin-right: 7px;
}

.btn {
    margin-right: 8px;
    font-size: 14px;
    padding: 8px 14px;
}